*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    margin: 6px auto;
    padding: 3px;
    width: 615px;
    background-color: #FF9B71;
}

.index_content
{
    background-color: #1B998B;
    color: #FFFD82;
    margin: 9px 9px 12px 9px;
    padding: 8px;
    border: 4px solid #2D3047;
    width: 590px;
    list-style-position: inside;
    font-family: "Arial", "Verdana", sans-serif;
}

.recipe_banner
{
    background-color: #1B998B;
    color: #FFFD82;
    padding: 8px;
    border: 4px solid #2D3047;
    width: 610px;
    list-style-position: inside;
    font-family: "Arial", "Verdana", sans-serif;
    display: block-inline;
    text-align: center;
}

.recipe_description
{
    
    color: #2D3047;
    width: 590px;
    padding: 3px;
    list-style-position: inside;
    font-size: 14px;
    font-family: "Arial", "Verdana", sans-serif;
}

.recipe_container
{
    margin: 6px auto;
    padding: 3px;
    width: 615px;
    background-color: white;
}

.recipe_section
{
    display: block;
    margin-top: 10px;
}

.recipe_subheader1
{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    padding: 3px;
    color: #FFFD82;
    font-family: "Arial", "Verdana", sans-serif;
}

.recipe_subheader2
{
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    padding: 3px;
    color: #2D3047;
    font-family: "Arial", "Verdana", sans-serif;
}

.recipe_subheader3
{
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    padding: 3px;
    color: #E84855;
    font-family: "Arial", "Verdana", sans-serif;
}

.recipe_subheader4
{
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 3px;
    color: #2D3047;
    font-family: "Times New Roman", serif;
}

.recipe_text
{
    color: #2D3047;
    width: 590px;
    padding: 3px;
    list-style-position: inside;
    font-size: 14px;
    font-family: "Arial", "Verdana", sans-serif;
}


